* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(/pictures/Background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}
.Heading {
  margin-top: 50px;
  text-align: center;
}
.flexcont {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
#Table {
  float: right;
  margin-right: 200px;
  font-size: x-large;
}
.myself {
  border-radius: 50%;
  height: 300px;
  width: 300px;
  position: relative;
  object-fit: cover;
}
.parent {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 4%;
}

.Bio {
  font-size: 20pt;
  border-style: solid;
  border-radius: 4%;
  margin: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
  width: 65%;
}

@media screen and (max-width: 400px) {
  .Bio {
    width: 200px;
    height: 200px;
  }
  #Table {
    width: 200px;
    height: 200px;
  }
}
